html,
body {
  display: block;
  margin: 0;
  position: relative;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #fafafa;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#main {
  padding: 32px;
}

p {
  margin: 0 0 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em 0;
  font-size: 1em;
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 1.618em;
}
h2 {
  border-bottom: 1px solid #ddd;
}
