@font-face {
  font-family: 'mr-eaves';
  src: url('http://d1t3oj7m1i6x3c.cloudfront.net/fonts/mr-eaves-sans-r.eot');
  src: url('http://d1t3oj7m1i6x3c.cloudfront.net/fonts/mr-eaves-sans-r.eot?#iefix') format('embedded-opentype'),
       url('http://d1t3oj7m1i6x3c.cloudfront.net/fonts/mr-eaves-sans-r.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  display: block;
  position: relative;
  margin: 0;
}

body {
  font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', serif;
  font-size: 18px;
  line-height: 1.5;

  background: white;
  color: #111;
}

#main {
  margin: 0 auto;
  padding: 1.5em;
  max-width: 34em;
}

hr {
  margin: 1em 0;
  border: none;
  height: 1px;

  background-color: #e03838;
  color: #e03838;
}

a {
  color: #e03838;
}

p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;

  font-size: 1em;
  font-weight: bold;
}

h1 {
  margin: 0.25em 0;

  font-family: 'mr-eaves', Helvetica, Arial, sans-serif;
  font-size: 6.6em;
  font-weight: normal;
  line-height: 1;

  color: #e03838;
}
