html,
body {
  display: block;
  position: relative;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 32em;

  font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', serif;
  font-size: 18px;
  line-height: 1.5;

  background: white;
  color: #111;
}

#main {
  padding: 1.5em;
}

hr {
  margin: 1em 0;
  border: none;
  height: 1px;

  background: #ddd;
  color: #ddd;
}

p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;

  font-size: 1em;
  font-weight: bold;
}

h1 {
  font-family: 'ff-tisa-sans-web-pro-1', 'ff-tisa-sans-web-pro-2', sans-serif;
  font-size: 2.618em;
  font-weight: 700;
}
