@font-face {
  font-family: 'mr-eaves';
  src: url('http://assets.jgwhite.co.uk/fonts/mr-eaves-sans-r.eot');
  src: url('http://assets.jgwhite.co.uk/fonts/mr-eaves-sans-r.eot?#iefix') format('embedded-opentype'),
       url('http://assets.jgwhite.co.uk/fonts/mr-eaves-sans-r.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  display: block;
  position: relative;
  margin: 0;
}

body {
  font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', serif;
  font-size: 16px;
  line-height: 1.5;

  background: white;
  color: #111;
}

#main {
  margin: 0 auto;
  padding: 1em;
  max-width: 34em;
}

hr {
  margin: 1em 0;
  border: none;
  height: 1px;

  background-color: #e03838;
  color: #e03838;
}

a {
  white-space: nowrap;
  color: #e03838;
}

p {
  margin: 1em 0;
}

p img {
  display: block;
  margin: 0 -0.5em;
  border: 0.5em solid #f2f2f2;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;

  font-size: 1em;
  font-weight: bold;
}

h1 {
  margin: 0.25em 0;

  font-family: 'mr-eaves', Helvetica, Arial, sans-serif;
  font-size: 6.6em;
  font-weight: normal;
  line-height: 1;

  color: #e03838;
}

aside {
  margin: 2em 0;
}

@media screen and (max-width: 576px) {
  h1 { font-size: 4.25em }
}
@media screen and (max-width: 320px) {
  h1 { font-size: 3.5em }
}
