<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>uk.co.jgwhite.spanishdict</string>
       <key>Developer Identifier</key>
       <string>EZ7M94M765</string>
       <key>CFBundleVersion</key>
       <string>1.0.2</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0.2</string>
       <key>URL</key>
       <string>http://jgwhite.co.uk/spanishdict/spanishdict.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
