<meta charset="utf-8" />

<title>
  {{ page.title }} {% unless page.url == '/' %} - Jamie White {% endunless %}
</title>

<meta name="viewport" content="initial-scale=1" />

<link rel="stylesheet" href="/css/jgwhite.css" />
<link rel="alternate" title="{{site.title}}" href="{{"/feed.json" | prepend:
site.baseurl | prepend: site.url}}">

<!--
/*
 * Emigre web font kit 517587d83fd03
 *
 * These fonts are not shareware.
 * Use of these fonts requires the purchase
 * of a license from Emigre, www.emigre.com
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?SMrR.html
 *
 * © 2011 Emigre, Inc
 */
-->
