<meta charset="utf-8">

<title>
  {{ page.title }}
  {% unless page.url == '/index.html' %}
    - Jamie White
  {% endunless %}
</title>

<script type="text/javascript" src="//use.typekit.net/jih7rtx.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<meta name="viewport" content="initial-scale=1">
<meta name="google-translate-customization" content="4540867cdab1bb4e-f7d25a03d4bd9068-gb3e9b0db8b8b04c3-d"></meta>

<link rel="stylesheet" href="/css/jgwhite.css">

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11205282-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!--
/*
 * Emigre web font kit 517587d83fd03
 *
 * These fonts are not shareware.
 * Use of these fonts requires the purchase
 * of a license from Emigre, www.emigre.com
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?SMrR.html
 *
 * © 2011 Emigre, Inc
 */
-->
